.node {
  padding: 12px 20px;
  background: #020617;
  border: 1px solid #334155;
  border-radius: 8px;
  min-width: 120px;
  text-align: center;
  color: #e5e7eb;
}

.node-label {
  font-size: 14px;
  font-weight: 500;
}

/* Special styling for start node */
.node-start {
  background: #022c22;
  border-color: #10b981;
}


.node-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.node-children {
  margin-top: 30px;
  display: flex;
  gap: 40px;
}
